<%= link_to "Logout", {:controller => 'users', :action => 'destroy', :id => session[:user_id]}, {:method => :delete}%>

<h1> Profile for <%=@user.username%></h1>

<%=Entry.where(user_id: session[:user_id]).each do |entry|%>
<ul>
	<li><%=entry.title%></li>
	<li><%=entry.description%></li>
</ul>
<%end%>