<h1>Login</h1>

<%=form_tag(welcome_index_path, method: "post") do %>
	<%=text_field_tag "username", nil, options = {placeholder: "Username"}%>
	<%=text_field_tag "password_hash", nil, options = {placeholder: "Password"}%>
<%=submit_tag("Submit")%>
<%end%>

<%if session[:errors]%>
<%=p session[:errors]%><%=link_to "Here!", new_user_path%>
<%session.delete(:errors)%>
<%end%>

